extends layout

block content

    form(method='POST', action='/login')
        - if(!user) { user = {}; }
        - if(!errorMessages) { errorMessages = {}; }

        if errorMessages.message
            div.alert.alert-danger 
                strong Error!
                |  #{errorMessages.message}

        div.form-group.required(class= typeof errorMessages.user_id === 'undefined' ? '' : 'has-error')
            label.control-label(for='user_id') User ID: 
            input#user_id.form-control(name='user_id', type='text', value=user.user_id)
            span.help-block #{errorMessages.user_id}
        
        div.form-group.required(class= typeof errorMessages.password === 'undefined' ? '' : 'has-error')
            label.control-label(for='password') Password: 
            input#password.form-control(name='password', type='password', value=user.password)
            span.help-block #{errorMessages.password}

        button.btn.btn-primary(type='submit') Login
