extends layout

block content
    h2.text-center= title

    form(method='POST', action='')
        - if(!student) { student = {}; }
        - if(!errorMessages) { errorMessages = {}; }
        
        div.form-group.required(class= typeof errorMessages.first_name === 'undefined' ? '' : 'has-error')
            label.control-label(for='first_name') First Name: 
            input#first_name.form-control(name='first_name', type='text', value=student.first_name)
            span.help-block #{errorMessages.first_name}

        div.form-group.required(class= typeof errorMessages.family_name === 'undefined' ? '' : 'has-error')
            label.control-label(for='family_name') Family Name: 
            input#family_name.form-control(name='family_name', type='text', value=student.family_name)
            span.help-block #{errorMessages.family_name}

        div.form-group.required(class= typeof errorMessages.date_of_birth === 'undefined' ? '' : 'has-error')
            label.control-label(for='date_of_birth') Date of Birth: 
            input#date_of_birth.form-control(name='date_of_birth', type='date', value=student.date_of_birth)
            span.help-block #{errorMessages.date_of_birth}

        div.form-group
            label.control-label(for='address') Address: 
            input#address.form-control(name='address', type='text', value=student.address)

        button.btn.btn-primary(type='submit') Submit
        a.btn.btn-default(href='list') Cancel
        