extends layout

block content
    div.text-right
        i.fa.fa-sign-out.fa-icon(onclick='javascript:location.href="/logout"', style='font-size:36px;', title='Logout')

    h2.text-center= title

    a.btn.btn-primary(href='add') Add Student
    
    table#student-list.table(hidden='hidden')
        thead
            tr
                th.text-center ID
                th.text-center Name
                th.text-center Age
                th.text-center Address
                th.text-center Action
        tbody
            for student in student_list
                tr
                    td.text-center 
                        a(href='view/' + student.student_id) #{student.formatted_student_id}
                    td.text-center #{student.name}
                    td.text-center #{student.age}
                    td.text-center #{student.address}
                    td.text-center
                        i.fa.fa-edit.fa-icon(onclick='javascript:location.href="edit/' + student.student_id + '"')
                        i.fa.fa-trash.fa-icon(onclick='javascript:location.href="delete/' + student.student_id + '"')
    
    script(src='/javascripts/student_list.js')